%p
  = prototype_partial_link "Save", "navigation::settings", ".sidebar-nav__panel-secondary", class: "btn btn-default"
  = prototype_partial_link "Cancel", "navigation::settings", ".sidebar-nav__panel-secondary", class: "btn btn-link"