= render 'prototypes/settings/back'

.text-uppercase
  %ul.nav.nav-pills.nav-stacked
    %li 
      =link_to '#' do 
        %strong Website Theme

%div{style: "padding: 0 15px;"}
  form here
  = render 'prototypes/settings/buttons'