%div{style: "padding: 0 15px;"}
  .input-group
    %span.input-group-btn
      = link_to icon("trash"), prototype_page_path("navigation::edit_nav"), class: "prototype-partial-link btn btn-default", remote: true, data: { target: ".sidebar-nav__panel-secondary" }
    = select_tag :page_title, options_for_select(["Blog 1", "Blog 2"], "Blog 1"), class: "form-control"
    %span.input-group-btn
      = prototype_partial_link(icon("floppy-o"), "links::new", "#new-link", class: "btn btn-default")