%div{style: "padding: 0 20px;"}
  .input-group
    %span.input-group-btn
      = link_to icon("trash"), prototype_page_path("edit_navigation"), class: "prototype-partial-link btn btn-default", remote: true, data: { target: "#sidebar" }
    = text_field_tag :page_title, "", class: "form-control", placeholder: "Page Title"
    %span.input-group-btn
      = prototype_partial_link(icon("floppy-o"), "pages::new", "#new-link", class: "btn btn-default")