= link_to prototype_page_path(page: "news::edit"), remote: true, class: "prototype-partial-link list-group-item", data: { target: "#right" } do
  %h5 Lobby Renovations Status Update
  %p.muted Lorem ipsum