= render 'prototypes/website/new_link_menu'
%ul.nav.nav-pills.nav-stacked
  %li
    = link_to "Blog", "#"
    = link_to icon("files-o"), prototype_page_path(page: "blogs::posts"), remote: true, class: "prototype-partial-link page-settings-link", data: { target: ".sidebar-nav__panel-secondary" }, style: "right: 47px;"
    = link_to icon("cog"), prototype_page_path(page: "blogs::settings"), remote: true, class: "prototype-partial-link page-settings-link", data: { target: ".sidebar-nav__panel-secondary" }