= link_to prototype_page_path(page: "website::blog_post"), class: "list-group-item list-group-item-transparent prototype-partial-link", data: { target: "#main" }, remote: true do
  %h5{style: "margin: 0 0 5px 0; padding: 0;"}
    Blog Post Title
    - if draft
      %span.label.label-info.pull-right Draft
  %p.text-muted.no-margin 
    - if draft
      Last Updated on
    - else
      Published on 
    Mar. 25, 2015