.form-header{style: ""}
  %h4.pull-left Edit News Post
  .pull-right
    = link_to "Cancel", "#", class: "btn btn-link cancel"
    = link_to "Save Changes", "#", class: "btn btn-primary cancel"
.form-container
  .scrollable
    .pad-20.grey
      .form-group
        = text_field_tag :title, "News Title", autofocus: true, class: "form-control", style: "font-weight: 400; font-size: 20px; padding: 22px 12px;"  
      .row
        .col-xs-5
          .checkbox{style: "margin-bottom: 0;" }
            %label
              %input{type: "checkbox"}
              Email update to users?
        .col-xs-7
          %strong.pull-left{style: "margin-top: 10px;"} Attach a file: 
          %input.pull-right{type: "file", style: 'margin-top: 9px;'}
    = text_area_tag :content, "News post content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", class: "form-control", rows: 23, style: "padding-left: 20px; padding-right: 20px;"