.form-header{style: ""}
  %h4.pull-left Edit News Post
  .pull-right
    = link_to "Cancel", "#", class: "btn btn-link cancel"
    = link_to "Save Changes", "#", class: "btn btn-primary cancel"
.form-container
  .scrollable
    .pad-20.grey
      .form-group{style: "margin: 0;"}
        = text_field_tag :title, "News Title", autofocus: true, class: "form-control", style: "font-weight: 400; font-size: 20px; padding: 22px 12px;"