.sidebar-nav
  .sidebar-nav__panel.sidebar-nav__panel-primary
    = render "prototypes/navigation/main"
  .sidebar-nav__panel.sidebar-nav__panel-secondary
    Settings Nav
  .sidebar-nav__panel.sidebar-nav__panel-third
    = render "prototypes/navigation/properties"