.form-header{style: ""}
  %h4.pull-left New News Post
  .pull-right
    = link_to "Cancel", "#", class: "btn btn-link cancel"
    = link_to "Create Post", "#", class: "btn btn-primary cancel"
.form-container
  .scrollable
    .pad-20.grey  
      .form-group
        = text_field_tag :title, "", placeholder: "Title", autofocus: true, class: "form-control", style: "font-weight: 400; font-size: 20px; padding: 22px 12px;"
      .row
        .col-xs-5
          .checkbox{style: "margin-bottom: 0;" }
            %label
              %input{type: "checkbox", checked: true}
              Email post to users?
        .col-xs-7
          %strong.pull-left{style: "margin-top: 10px;"} Attach a file: 
          %input.pull-right{type: "file", style: 'margin-top: 9px;'}
    = text_area_tag :content, "", class: "form-control", rows: 23, style: "padding-left: 20px; padding-right: 20px;"