.tab-pane#res-documents
  .container
    %h3 Documents
    .row
      .col-xs-3
        .console-search-results
          #doc-filters
            .header{style: "border-top: none;"} Filter by Category
            .categories
              .category{data: { filterText: "category1" } }
                .circle.pull-left.circle-info 
                Meeting Minutes
              .category{data: { filterText: "category2" } }
                .circle.pull-left.circle-success 
                Financials
              .category{data: { filterText: "category3" } }
                .circle.pull-left.circle-danger
                Rules & Regulations
              .category{data: { filterText: "category4" } }
                .circle.pull-left.circle-warning
                Misc.
      .col-xs-9
        #res-documents-list


          -documents=["Welcome Letter", "Board Meeting Minutes", "Landscape Proposal", 
                      "Letter From NGPE", "Lobby Rennovation Summary",
                      "Annual Review", "Trustee Meeting Minutes", "Financial Summary", 
                      "Delivery Notice", "Speing Rennovation Schedule"]


          - (1..10).each do |n|
            .res-document
              .pull-left
                - if n < 3
                  .file-type-icon.file-type-icon-docx
                - elsif n < 6
                  .file-type-icon.file-type-icon-pdf
                - elsif n < 8
                  .file-type-icon.file-type-icon-xlsx
                - else
                  .file-type-icon.file-type-icon-pdf
              .pull-left
                %strong
                  =documents[n]
                .description Description
                - if n < 3
                  .label.label-info Meeting Minutes
                - elsif n < 6
                  .label.label-success Financials
                - elsif n < 8
                  .label.label-warning Misc.
                - else
                  .label.label-danger Rules & Regulations
              .pull-right.actions
                = link_to raw("<i class='glyphicon glyphicon-cloud-download'></i>"), "#", class: 'btn btn-default'
                = link_to raw("<i class='glyphicon glyphicon-trash'></i>"), "#", class: 'btn btn-default'
              .clearfix

