.tab-pane.active#res-dashboard
  .container
    .row.mt-30
      .col-sm-4
        .panel.panel-default
          .panel-heading
            %h3.center.panel-title Issues
          .panel-body
            Panel content
      .col-sm-4
        .panel.panel-default
          .panel-heading
            %h3.center.panel-title News
          .panel-body
            Panel content
      .col-sm-4
        .panel.panel-default
          .panel-heading
            %h3.center.panel-title Documents
          .panel-body
            Panel content