.form-header
  .pull-left
    %h3.title{style: "font-weight: 400; font-size: 20px; margin: 0 0 10px 0;"} 
      News Subject
      .muted
        = Time.now.strftime("%m/%d/%Y") 
  .pull-right
    = link_to "Close", "#", class: "btn btn-link item-close"
  .clearfix

.form-container
  .scrollable
    .pad-20
      %p{style: "margin: 0;"}
        %span.muted{style: "color: #888; font-weight: 200;"} Posted By 
        Roger Jones
        %br
        %br

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      %p Duis aute irure dolor in reprehenderit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.