.sidebar-nav.panel-open
  .sidebar-nav__panel.sidebar-nav__panel-primary
    = render "prototypes/navigation/main"
  .sidebar-nav__panel.sidebar-nav__panel-secondary
    = render "prototypes/navigation/website"