.text-uppercase
  %ul.nav.nav-pills.nav-stacked{style: "padding-top: 68px;"}
    %li= prototype_partial_link("Pages", "edit_navigation", ".submenu", class: "show-menu")
    %li= link_to "Styles", "#"
    %li= link_to "Theme", "#"
    / %li= link_to "Images", "#"
    / %li= link_to "Form Submissions", "#"
    / %li= link_to "Blog Posts", "#"
    %li= prototype_partial_link("Settings", "settings::website", ".submenu", class: "show-menu")