#sidebar.has-submenu
  %div{style: 'position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: #ccc; padding-top: 40px;'}
    = render "property_nav"
  .submenu
    = render "prototypes/website_submenu"
#main.has-submenu
  = render "prototypes/website/iframe"