%ul.nav.nav-pills.nav-stacked{style: "padding-top: 68px;"}
  %li= prototype_partial_link "Property Settings", "settings::property", ".sidebar-nav__panel-secondary"
  %li= prototype_partial_link "Company Info", "settings::company", ".sidebar-nav__panel-secondary"
  %li= prototype_partial_link "Billing Info", "settings::billing", ".sidebar-nav__panel-secondary"
  %li= prototype_partial_link "My Account", "settings::account", ".sidebar-nav__panel-secondary"