%ul.nav.nav-pills.nav-stacked{style: "padding-top: 119px;"}
  %li= prototype_partial_link("Pages", "navigation::edit_nav", ".sidebar-nav__panel-secondary", class: "show-menu")
  %li= link_to "Styles", "#"
  %li= link_to "Theme", "#"
  / %li= link_to "Images", "#"
  / %li= link_to "Form Submissions", "#"
  / %li= link_to "Blog Posts", "#"
  %li= prototype_partial_link("Settings", "settings::website", ".sidebar-nav__panel-secondary", class: "show-menu")