ul.properties {
  padding: 0;
  li.property {
    padding: 30px 20px;
    list-style: none;
    cursor: pointer;
    border-top: 1px dashed #ccc;
    border-left: 3px solid transparent;
    .delete-property {
      display: none;
    }
    &:hover {
      background: #E3F4F9;
      border-left: 3px solid #2BA6CB;
      .delete-property {
        display: inline-block;
      }
    }
  }
}
li.empty {
  list-style: none;
  padding: 50px 0;
  cursor: default;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  background: #F5F5F5;
  color: darken(#F5F5F5, 15%);
  border: 1px solid #E3E3E3;
  @include border-radius(5px);
}

#new-property {
  padding-top: 10px;
}