= link_to prototype_page_path(page: "issues::edit"), remote: true, class: "prototype-partial-link list-group-item", data: { target: "#right" } do
  %h5 
    Issue Subject
    %small.pull-right March 12, 2015
  %p.muted Lorem ipsum