.text-center
  %h3 Select an Issue
  %p or
  = link_to "Create One", prototype_page_path(page: "issues::new"), remote: true, class: "prototype-partial-link btn btn-primary", data: { target: "#right" }
