= link_to "#", class: "list-group-item" do
  .row
    .col-xs-1.text-center
      %i.glyphicon.glyphicon-file{style: "font-size: 3rem; margin-top: 15px;"}
    .col-xs-9
      %h5 Document Title
      %p Document description lorem ipsum
    .col-xs-2
  