= link_to "#", class: "list-group-item" do
  .row
    .col-xs-1.text-center
      %div{style: "font-size: 3rem; margin-top: 10px; color: rgb(50, 187, 135);"}
        = icon "file-o"
    .col-xs-9
      %h5 Document Title
      %p Document description lorem ipsum
    .col-xs-2
  