.well#main-cta.hidden-sm.hidden-xs
  .pad
    %h3.text-uppercase.text-light{style: 'letter-spacing: 3px;'} What sets Condo Motion apart?

.jumbotron.team-bg
  .container
    .row
      .col-md-6
        %h2.text-uppercase.text-light{style: 'letter-spacing: 3px; margin: 100px 0 60px 0;'}
          The best property managers
          %br/ 
          use Condo Motion 
        %p We're raising the bar for property management software by giving you tools to communicate efficiently with your customers