.well#main-cta.hidden-sm.hidden-xs
  .pad
    %h3.text-uppercase.text-light{style: 'letter-spacing: 3px; margin: 0;'} What sets Condo Motion apart?
    %ul.fa-ul.text-lighter{style: "padding: 30px 0 30px 20px; font-size: 1.2em; letter-spacing: 2px;"}
      %li{style: "margin-bottom: 20px;"} 
        %i.fa.fa-li.fa-building-o
        Manage all of your properties, staff, and residents in one place
      %li{style: "margin-bottom: 20px;"} 
        %i.fa.fa-li.fa-tags
        Easily track issues, share documents, and post news
      %li 
        %i.fa.fa-li.fa-globe
        Instantly create beautiful websites for your company and every property
    = link_to "Schedule a Demo", prototype_path, class: "btn btn-success btn-block text-uppercase text-light", style: 'letter-spacing: 2px;'

.jumbotron.team-bg.no-margin
  .container
    .row
      .col-md-6
        %h2.text-uppercase.text-light{style: 'letter-spacing: 3px; margin: 100px 0 60px 0;'}
          The best property managers
          %br/ 
          use Condo Motion 
        %p We're raising the bar for property management software by giving you tools to communicate efficiently with your customers

%section.feature
  .container
    .row
      .col-md-6.col-lg-7
        %h3.feature-heading Easy issue tracking makes it easy to keep your team in sync and clients happy
        .browser-screenshot
          .browser-bar
            .browser-bar-button.browser-bar-button-close
            .browser-bar-button.browser-bar-button-minimize
            .browser-bar-button.browser-bar-button-expand
          .screenshot
            = image_tag 'screenshots/issues.png', class: "img-responsive"
          .browser-footer
        %p Easily manage issues reported by your residents in our intuitive, email-like interface. In fact, you can even update issues via email. Assign issues to property managers, add internal notes or send status updates to clients, and resolve issues more efficiently.

%section.feature
  .container
    .row
      .col-md-6.col-lg-7
        %h3.feature-heading Instanly create beautiful websites for your company and every property
        .browser-screenshot
          .browser-bar
            .browser-bar-button.browser-bar-button-close
            .browser-bar-button.browser-bar-button-minimize
            .browser-bar-button.browser-bar-button-expand
          .screenshot
            = image_tag 'screenshots/properties.png', class: "img-responsive"
          .browser-footer
        %p Our website builder will get beautiful sites up and running instantly. We have professionally designed themes and default content to get you going quickly, but everything is completely customizable and our editing tools are incredibly easy to use.

%footer.city-street-bg