%ul.nav.nav-pills.nav-stacked
  %li
    .collapse#new-link-type
      = link_to prototype_page_path(page: "pages::form"), remote: true, class: "prototype-partial-link btn-icon-block btn-icon-block-sm btn-icon-block-3", data: { target: "#new-link" } do
        %i.glyphicon.glyphicon-file
        %p Page
      = link_to prototype_page_path(page: "blogs::form"), remote: true, class: "prototype-partial-link btn-icon-block btn-icon-block-sm btn-icon-block-3", data: { target: "#new-link" } do
        %i.glyphicon.glyphicon-bold
        %p Blog
      = link_to prototype_page_path(page: "links::form"), remote: true, class: "prototype-partial-link btn-icon-block btn-icon-block-sm btn-icon-block-3", data: { target: "#new-link" } do
        %i.glyphicon.glyphicon-link
        %p Link
      .clearfix