// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  margin: 0;
}

.center {
  text-align: center;
}

.plan {
  padding: 30px;
  background: #f1f1f1;
  margin-right: 20px;
}

.stacked-tabs {
  padding: 0;
  li {
    list-style: none;
    a {
      padding: 10px;
      display: block;
    }
    &.active{
      a {
        background: #f1f1f1;
      }
    }
  }
}

.mt0 { margin-top: 0px; }
.mt30 { margin-top: 30px; }
.text-uppercase { text-transform: uppercase; }
.text-lighter { font-weight: 100; }
.text-light { font-weight: 300; }
.pad { padding: 30px; }
.no-margin { margin: 0; }
body {
  background: #f1f1f1;
}
.container-lg { 
  max-width: 1580px; 
  margin: 0 auto;
}

.team-bg {
  background-image: image_url('team.jpg');
  background-size: cover;
  color: #fff;
  height: 600px;
}

.city-street-bg {
  background-image: image-url('city-street.jpg');
  background-size: cover;
  height: 400px;
  background-position: bottom center;
}

#main-cta {
  background-color: $navbar-inverse-bg;
  width: 450px;
  opacity: 0.9;
  border: none;
  color: #fff;
  position: fixed;
  top: 100px;
  right: 80px;
  z-index: 1000;

  .fa-li {
    font-size: 2em;
  }
}