// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  margin: 0;
}

.center {
  text-align: center;
}

.plan {
  padding: 30px;
  background: #f1f1f1;
  margin-right: 20px;
}

.stacked-tabs {
  padding: 0;
  li {
    list-style: none;
    a {
      padding: 10px;
      display: block;
    }
    &.active{
      a {
        background: #f1f1f1;
      }
    }
  }
}

.mt0 { margin-top: 0px; }
.mt30 { margin-top: 30px; }