.scroll-panel
  .scroll-panel-body
    .text-center
      %h3 Select a User
      %p or
      = link_to "Create One", prototype_page_path(page: "people::new"), remote: true, class: "prototype-partial-link btn btn-primary", data: { target: "#right" }