body, html {
  height: 100%;
  margin: 0;
}

body {
  background: #f2f2f2;

  &.sidebar-lg {
    #sidebar {
      width: 370px;
    }

    #main {
      left: 370px;

      &.full {
        left: 0;
      }
    }
  }
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  bottom: 0;
  overflow-y: auto;
  font-size: 0.9em;
  padding-top: 40px;

  &.has-submenu {
    width: 310px;
  }

  a.nav-link {
    margin-bottom: 30px;
    padding: 10px 15px;
    color: $text-color;
    text-decoration: none;
    display: block;
    font-size: 1em;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 1em;
    padding: 10px 15px;
  }
}

#main {
  position: absolute;
  top: 20px;
  left: 270px;
  right: 30px;
  bottom: 0;
  overflow-y: hidden;
  background: #fff;
  -webkit-transition: all .5s ease-in-out,-webkit-transform .5s ease-out 2s;
  -moz-transition: all .5s ease-in-out,-moz-transform .5s ease-out 2s;
  -ms-transition: all .5s ease-in-out,-moz-transform .5s ease-out 2s;
  transition: all .5s ease-in-out,transform .5s ease-out 2s;
  box-shadow: 0 0 25px rgba(0,0,0,.11), 0 0 0 1px rgba(0,0,0,.03);

  &.has-submenu {
    left: 310px;
  }

  &.full {
    top: 0;
    right: 0;
    left: 0;
  }
  
  #left {
    width: 40%;
    position: relative;
    height: 100%;
    border-right: 1px solid #ddd;
  }

  #right {
    width: 60%;
    position: relative;
    height: 100%;
  }
}