.list-group-item:first-child, .list-group-item:last-child {
  @include border-top-radius(0);
  @include border-bottom-radius(0);
}

.list-group-item:hover .hide {
  display: block!important;
}

.list-group-item-transparent {
  background: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
}