.sidebar-nav {
  position: fixed;
  width: 270px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;

  .sidebar-nav__panel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f2f2f2;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;

    &.sidebar-nav__panel-secondary {
      width: 270px - 48px;
      -webkit-transition: -webkit-transform 200ms ease;
      transition: transform 200ms ease;
      -webkit-transform: translate3d(270px, 0, 0);
      transform: translate3d(270px, 0, 0);
    }
  }

  &.panel-open {
    .sidebar-nav__panel-primary {
      background: #212529;

      .sidebar-nav-label {
        @include opacity(0);
      }
    }

    .sidebar-nav__panel-secondary {
      -webkit-transform: translate3d(48px, 0, 0);
      transform: translate3d(48px, 0, 0);
    }
  }
}



#sidebar {
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #333;
    background-color: #F2F2F2;
  }

  .submenu {
    .nav.nav-pills {
      li > a {
        border-radius: $border-radius-base;
      }
    }
    .nav-pills.nav-justified > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      color: #333;
      background-color: #ccc;
    }
  }
}

.nav-heading-wrapper {
  padding: 0 15px;
}
.nav-heading {
  line-height: 38px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.1em;

  .btn-xs {
    margin-top: 7px;
  }
}


.submenu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 0;
  background: #f2f2f2;
  padding-top: 40px;
}

.nav.nav-pills {
  li > a {
    color: #333;
    letter-spacing: 1px;
    border-radius: 0;
  }

  &.icon-margin {
    li > a > i {
      margin-right: 10px;
    }
  }

  .page-settings-link {
    position: absolute;
    right: 0;
    top: 0;
    display: inline;
    font-size: 1.5em;
    line-height: 1;
    height: 100%;
    display: none;
  }
  
  li:hover .page-settings-link {
    display: inline;
  }
}