$navbar-inverse-color:                      #FFFFFF !default;
$navbar-inverse-bg:                         #269ECC !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 rgba(255,255,255, 0.8) !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                #fff !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            $navbar-inverse-link-active-bg !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        $navbar-inverse-link-active-bg !default;

@import "bootstrap";

$nav-width: 250px;
$nav-bg: #F9FAFB;
$nav-border-color: #E7E7E7;

$nav-search-height: 110px;

$console-viewport-border-color: #E7E7E7;
$console-search-width: 40%;
$console-search-height: 60px;

$action-pane-bg: #F9FAFB;

.center { text-align: center; }
.mt-30 { margin-top: 30px; }

#user-name {
  color: #fff;
}

#console {
  position: absolute;
  overflow: hidden;
  top: 50px;
  left: 0px;
  right: 0px; 
  bottom: 0px;
  background: #FFFFFF;
  min-width: 1000px;
  #doc-filters { 
    display: none; 
    .header {
      padding: 5px 10px;
      background: $nav-bg;
      border-bottom: 1px solid $nav-border-color;
      border-top: 1px solid $nav-border-color;
      font-weight: bold;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        a {
          display: block;
          color: #666;
          text-decoration: none;
          padding: 10px;
          border-bottom: 1px solid $nav-border-color;
          border-left: 3px solid transparent;
          &:hover, &.active {
            background: #E3F4F9;
          }
          &.active {
            border-left: 3px solid #2BA6CB;
          }
        }
      }
    }
    .categories {
      .category {
        padding: 10px;
        cursor: pointer;
        border-left: 3px solid transparent;
        border-bottom: 1px solid $nav-border-color;
        &:hover, &.active {
          background: #E3F4F9;
        }
        &.active {
          border-left: 3px solid #2BA6CB;
        }
        .circle {
          height: 15px;
          width: 15px;
          margin-top: 2px;
          @include border-top-radius(50%);
          @include border-bottom-radius(50%);
          margin-right: 10px;
        }
        .circle-info { background: $brand-info; }
        .circle-warning { background: $brand-warning; }
        .circle-danger { background: $brand-danger; }
        .circle-success { background: $brand-success; }
      }
    }
  }
  .documents {
    .console-search-form, #new-doc-panel {
      display: none;
    }
    #new-doc-panel {
      border-bottom: 2px solid $nav-border-color;
      background: #fff;
      z-index: 1001;
      padding-top: 40px;
      box-shadow: 0 4px 4px -2px #999;
      -moz-box-shadow: 0 4px 4px -2px #999;
      -webkit-box-shadow: 0 4px 4px -2px #999;
    }
    .console-search-results {
      top: 0;
      width: 25%;
    }
    #doc-filters {
      display: block
    }
    .console-search {
      width: 25%;
    }
    .console-viewport {
      left: 25%;
    }
    .docs-search-form {
      height: $console-search-height;
      border-bottom: 1px solid $nav-border-color;
      position: relative;
      z-index: 1000;
      #search-field {
        padding: 15px 10px;
        margin: 0;
        position: absolute;
        left: 0;
        right: 90px;
      }
      #sort-docs {
        position: absolute; right: 50px; top: 15px; border: none;
      }
      #add-doc {
        position: absolute; right: 10px; top: 15px; border: none;
      }
    }
    #list-docs {
      position: absolute;
      top: $console-search-height;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      .doc {
        .actions {
          display: none;
          padding-top: 13px;
        }
        &:hover {
          .actions {
            display: block;
          }
        }
      }
      &.category1 {
        .doc[data-filtercategory="category2"],.doc[data-filtercategory="category3"], .doc[data-filtercategory="category4"] {
          display: none;
        }
      }
      &.category2 {
        .doc[data-filtercategory="category1"],.doc[data-filtercategory="category3"], .doc[data-filtercategory="category4"] {
          display: none;
        }
      }
      &.category3 {
        .doc[data-filtercategory="category2"],.doc[data-filtercategory="category1"], .doc[data-filtercategory="category4"] {
          display: none;
        }
      }
      &.category4 {
        .doc[data-filtercategory="category2"],.doc[data-filtercategory="category3"], .doc[data-filtercategory="category1"] {
          display: none;
        }
      }
    }
  }
  #nav {
    background: $nav-bg;
    width: $nav-width;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    border-right: 1px solid $nav-border-color;
    .nav-search-form {
      height: $nav-search-height;
      background: $nav-bg;
      border-bottom: 1px solid $nav-border-color;
      #new-property { padding: 6px 8px 6px 10px; } 
      .form-group {
        padding: 15px 10px;
        margin: 0;
        width: 200px; 
        display: inline-block;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          a {
            display: block;
            padding: 10px 15px;
            color: #666;
            text-decoration: none;
          }
          &:hover {
            a {
              background: darken($nav-bg, 10%);
            }            
          }
          &.active {
            a {
              @include gradient-vertical(#5DB8ED, #2285D7);
              color: #fff;
              text-shadow: 1px 1px 2px #333;
            }            
          }
        }
      }
    }
    .nav-search-results {
      position: absolute;
      top: $nav-search-height;
      left: 0px;
      right: 0px; 
      bottom: 0px;
      background: $nav-bg;
      overflow: hidden;
      ul {
        padding: 0;
        li {
          list-style: none;
          a {
            display: block;
            padding: 10px 15px;
            color: #666;
            text-decoration: none;
            button { 
              display: none;
              padding: 2px 4px 0px 4px;
              &:focus {
                outline: none;
              }
            }
          }
          &:hover {
            a {
              background: darken($nav-bg, 10%);
              button { display: inline-block; }
            }            
          }
          &.active {
            a {
              button { display: inline-block; }
              @include gradient-vertical(#5DB8ED, #2285D7);
              color: #fff;
              text-shadow: 1px 1px 2px #333;
            }
          }
        }
      }
    }
  }
}
.scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.search-field {
  @include border-top-radius(20px);
  @include border-bottom-radius(20px);
}
.circle {
  @include border-top-radius(50%);
  @include border-bottom-radius(50%);
}
.content-pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $nav-width;
  overflow: hidden;
  .console-search {
    width: $console-search-width;
    .console-search-form {
      height: $console-search-height;
      border-bottom: 1px solid $nav-border-color;
      position: relative;
      .form-group {
        padding: 15px 10px;
        margin: 0;
        position: absolute;
        left: 0;
        right: 90px;
      }
      #filter-items {
        position: absolute; right: 50px; top: 15px; border: none;
      }
      #add-item {
        position: absolute; right: 10px; top: 15px; border: none;
      }
    }
    .console-search-results {
      position: absolute;
      width: $console-search-width;
      top: $console-search-height;
      left: 0px;
      bottom: 0px;
      background: #FFFFFF;
      overflow: hidden;
    }
  }
  .console-viewport {
    position: absolute;
    left: $console-search-width;
    right: 0;
    bottom: 0;
    top: 0;
    border-left: 1px solid $console-viewport-border-color;
    .console-viewport-container {
      position: absolute;
      width: 100%;
      height: 100%;
      .action-pane-container {
        display: table;
        background: $action-pane-bg;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .action-pane {
          display: table-cell;
          height: 100%;
          position: relative;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
}
.console-search-result-item {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid $console-viewport-border-color;
  border-left: 3px solid transparent;
  cursor: pointer;
  .subject {
    font-weight: bold;
    margin-right: 65px;
  }
  .date, .role {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .muted {
    color: #999;
  }
  &:hover, &.active {
    background: #E3F4F9;
    border-left: 3px solid #2BA6CB;
  }
}

.issue {
  .label { margin-right: 5px; }
}

#message-note {
  li.active {
    a {
      background: #F5F5F5;
    }
  }
}

.user, .doc, .issue {
  img {
    margin-right: 20px;
  }
}

.issue, .news-post, .doc, .user {
  display: none;
}
.content-pane.issues .issue {
  display: block;
}
.content-pane.news .news-post {
  display: block;
}
.content-pane.documents .doc {
  display: block;
}
.content-pane.users .user {
  display: block;
}

.content-pane[data-listfilter="property"] {
  .user.all, .issue.all, .news-post.all, .doc.all {
    display: none;
  }
}


.lighter {
  font-weight: lighter;
}
.light {
  font-weight: light;
}
.preview {
  overflow: hidden;
}
.line-1 {
  max-height: 20px;
}
.line-2 {
  max-height: 40px;
}
.pad-20 {
  padding: 20px;
}
.mt-0 {
  margin-top: 0;
}
.no-margin {
  margin: 0;
}
.badge-danger { background: $brand-danger; }
.no-radius {
  @include border-bottom-radius(0px);
  @include border-top-radius(0px);
}

.issue-message {
  border-top: 1px solid $nav-border-color;
  padding: 20px;
}

.form-header {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  height: $console-search-height; 
  background: $nav-bg; 
  padding: 20px; 
  border-bottom: 1px solid $nav-border-color;
  h4 {
    margin: 0;
  }
  .btn {
    margin-top: -6px;
  }
}
.grey {
  background: $nav-bg;
  border-bottom: 1px solid $nav-border-color;
}
.form-container {
  position: absolute; 
  top: $console-search-height; 
  left: 0; 
  right: 0; 
  bottom: 0;
}


.res-issue, .res-news-post, .res-user, .res-document {
  padding: 10px 0; 
  border-bottom: 1px solid $nav-border-color;
  border-left: 3px solid transparent;
  cursor: pointer;
  &:first-child {
    border-top: 1px solid $nav-border-color;
  }
  &:hover, &.active {
    background: #E3F4F9;
    border-left: 3px solid #2BA6CB;
  }
}

#doc-filters {
  .header {
    padding: 5px 10px;
    background: $nav-bg;
    border-bottom: 1px solid $nav-border-color;
    border-top: 1px solid $nav-border-color;
    font-weight: bold;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      a {
        display: block;
        color: #666;
        text-decoration: none;
        padding: 10px;
        border-bottom: 1px solid $nav-border-color;
        border-left: 3px solid transparent;
        &:hover, &.active {
          background: #E3F4F9;
        }
        &.active {
          border-left: 3px solid #2BA6CB;
        }
      }
    }
  }
  .categories {
    .category {
      padding: 10px;
      cursor: pointer;
      border-left: 3px solid transparent;
      border-bottom: 1px solid $nav-border-color;
      &:hover, &.active {
        background: #E3F4F9;
      }
      &.active {
        border-left: 3px solid #2BA6CB;
      }
      .circle {
        height: 15px;
        width: 15px;
        margin-top: 2px;
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        margin-right: 10px;
      }
      .circle-info { background: $brand-info; }
      .circle-warning { background: $brand-warning; }
      .circle-danger { background: $brand-danger; }
      .circle-success { background: $brand-success; }
    }
  }
}


.res-document {
  padding-left: 20px;
}

.file-type-icon {
  background: url(image_path('file-type-icons.png'));
  width: 39px;
  height: 48px;
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}
.file-type-icon-pdf {
  background-position: -39px -612px;
}
.file-type-icon-doc {
  background-position: -78px -564px;
}
.file-type-icon-docx {
  background-position: 0px -612px;
}
.file-type-icon-xls {
  background-position: -39px -996px;
}
.file-type-icon-xlsx {
  background-position: -39px -1044px;
}
.file-type-icon-ppt {
  background-position: -39px -708px;
}
.file-type-icon-pptx {
  background-position: -39px -756px;
}
.file-type-icon-gif {
  background-position: 0px -708px;
}
.file-type-icon-jpeg {
  background-position: -78px -852px;
}
.file-type-icon-jpg {
  background-position: -78px -900px;
}
.file-type-icon-png {
  background-position: -39px -660px;
}
.file-type-icon-other {
  background-position: -78px -660px;
}
.file-type-icon-txt {
  background-position: -39px -900px;
}