$navbar-height: 65px;
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "buttons";

.bg-building {
  background-image: image_url('building-bg.jpg');
  background-size: cover;
  height: 350px;
  position: relative;

  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(50,69,68,.8);
    z-index: 99;
  }
  
  .container {
    z-index: 100;
    position: relative;

    h2 {
      color: #fff;
      z-index: 100;
      font-weight: 100;
      letter-spacing: 4px;
      margin-top: 150px;
    }
  }
}

#toggle-menu-link {
  position: absolute;
  top: 0;
  color: #333;
  z-index: 2000;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 35px 0 0;
  border-color: #f9f9f9 transparent transparent transparent;
  outline: none;

  &:hover {
    border-color: darken(#f9f9f9, 10%) transparent transparent transparent;
  }

  i {
    position: absolute;
    top: -33px;
    left: 6px;
  }
}

.#{$fa-css-prefix}-rotate-135 { @include fa-icon-rotate(135deg, 1); }
.#{$fa-css-prefix}-rotate-315 { @include fa-icon-rotate(315deg, 1); }